<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ t('Apply.eu_quero') }}</h4>
      </div>
      <div class="modal-body">
        <p>
          {{ t('Apply.eu_quero_descricao') }}
        </p>
        <form role="form" id="send-curriculum-form" class="form-inline"  action="/send_curriculum" method="post" enctype="multipart/form-data">
          <div class="form-group col-md-6">
            <label for="applicant-name">{{ t('Apply.name') }}</label>
            <input type="text" class="form-control" id="applicant-name" name="nome_para" data-required="{{ t('Apply.Validation.campo_obrigatorio') }}" required/>
          </div>

          <div class="form-group col-md-6">
            <label for="applicant-email">{{ t('Apply.valid_email') }}</label>
            <input type="email" class="form-control" name="email" id="applicant-email" data-required="{{ t('Apply.Validation.campo_obrigatorio') }}" data-invalid"{{ t('Apply.Validation.email_invalido') }}" required />
          </div>

          <div class="form-group col-md-12">
            <label for="application-positions">{{ t('Apply.posicao') }}</label>
            <select id="application-positions" class="multiselect" multiple="multiple" name="application-positions" required class="form-control" data-optional="{{ optional_job_position }}">
              {% for job in jobs %}
              <option>{{job}}</option>
              {% endfor %}
            </select>
          </div> 

          <div class="form-group hidden col-md-6">
            <label for="application-custom-position">{{ t('Apply.posicao') }}</label>
            <input type="text" class="form-control" id="application-custom-position" name="application_custom_position" data-required="{{ t('Apply.Validation.campo_obrigatorio') }}" />
          </div>


          <div class="form-group col-md-12">
            <label>{{ t('Apply.introduce_yourself') }}</label>
            <textarea name="apresentacao" class="form-control" rows="3" id="application-introduce" data-required="{{ t('Apply.Validation.campo_obrigatorio') }}" required></textarea>
          </div>

          <div class="form-group col-md-6">
            <label><img src="img/linkedin.png" width="16" height="16" alt="" align="absmiddle" /> Linkedin</label>
            <input type="url" class="form-control" name="linkedin" id="linkedin" data-invalid="{{ t('Apply.Validation.url_invalido') }}" />
          </div>
          <div class="form-group col-md-6">
            <label>{{ t('Apply.cv') }}</label>
            <input type="file" class="form-control" name="arquivo" id="application-file" data-required="{{ t('Apply.Validation.campo_obrigatorio') }}" required/>
          </div>

          <div id="application-modal-footer" class="form-group col-md-12">
            <input class="btn btn-primary btn-block" type="submit" value="{{ t('Apply.submit') }}" id="btnSend" />
            <img id="ajax-loader" src="/img/ajax-loader.gif" style="display:none" />
          </div>
        </form>
      </div>          
    </div>
  </div>
</div>