<!-- <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="img-responsive bravi-logo" src="/img/bravi.png" alt="" />


    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
      <p class="navbar-text navbar-right">Well</p> <img class="img-responsive user navbar-right" src="/img/well.png" alt="" />
    </div>
  </div>
</nav> -->


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="www.bravi.com.br"><img class="img-responsive bravi-logo" src="/img/bravi.png" alt="" /></a>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">

      <ul class="nav navbar-nav navbar-right notifications">

        <li><p class="navbar-text"><a href="#"><span class="glyphicon glyphicon-comment"></span></a></p></li>
        <li class="divider-vertical"></li>
        <li><p class="navbar-text"><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a></p></li>
        <li class="divider-vertical"></li>
        <!-- <li><img id="user-avatar" data-toggle="modal" data-target="#sign-up-modal" class="img-responsive user navbar-right" src="/img/well.png" alt="" /></li> -->
        <li class="divider-vertical"></li>
        <li class="dropdown">
          {% if user.username == undefined  %}
            <img data-toggle="dropdown" id="user-avatar"class="img-responsive user navbar-right" src="/img/unknown.png" alt="" />
          {% else %}
            <img data-toggle="dropdown" id="user-avatar"class="img-responsive user navbar-right" src="/img/{{user.username}}.png" alt="" />
            <input type=hidden name=customerid value="{{user._id}}">
          {% endif %}

          {% if user.username == undefined  %}
            <div class="dropdown-menu drop-form" style="padding: 15px;">
              <form action="/signin" method="post" role="form">
                <div class="form-group">
                <label for="username">User Name</label>
                  <input type="text" class="form-control" id="userame" name="username" placeholder="Enter user name">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">Log in</button>
                or <a href="#" data-toggle="modal" data-target="#sign-up-modal" class="btn btn-warning">Sign up!</a>
              </form>
            </div>
          {% else %}
            <div class="dropdown-menu text-center" style="padding: 15px;">
              <a href="\signout" class="btn btn-warning">Sign out!</a>
            </div>
          {% endif %}

        </li>
      </ul>

      <form class="navbar-form" action="/knowledge" method="post" >
        <div class="form-group" style="display:inline;">
          <div id="nav-input-wonder" class="input-group">
          <input type="text" id="question" id="question" name="question" class="form-control">
          <span class="input-group-btn">
          <!-- <button class="btn btn-info" type="button" >Ask!</button> -->
          <button id="btn-ask" type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<label>Register the question?</label><button onclick="ask()" style="margin-left:10px" class="btn btn-info btn-ask">Go!</button>' data-original-title="" title="">
            Ask!
          </button>
          </span>
          </div>
        </div>
      </form>

    </div><!--/.nav-collapse -->
  </div>
</div>