<div class="navbar navbar-inverse navbar-fixed-top">

  <ul class="nav navbar-nav navbar-right notifications">

    
    <li class="dropdown">
      {% if user.google.picture == undefined  %}
      <img data-toggle="dropdown" id="user-avatar"class="img-responsive user navbar-right img-circle" src="/img/unknown.png" alt="" />
      {% else %}
      <img data-toggle="dropdown" id="user-avatar"class="img-responsive user navbar-right img-circle" src="{{user.google.picture}}" alt="" />
      {% endif %}

      {% if user.username == undefined  %}
      <div class="dropdown-menu drop-form" style="padding: 15px;">
        <form action="/signin" method="post" role="form">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="userame" name="username" placeholder="Enter user name">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-info">Log in</button>
          or <a href="#" data-toggle="modal" data-target="#sign-up-modal" class="btn btn-warning">Sign up!</a>
        </form>
      </div>
      {% else %}
      <div class="dropdown-menu text-center" style="padding: 15px;">
        <a href="\signout" class="btn btn-warning">{{ t("main-page.header.sign-out") }}</a>
      </div>
      <input type="hidden" id="user-id"  name="user-id" value="{{user._id}}">
      <input type="hidden" id="user-name"  name="user-name" value="{{user.username}}">
      <input type="hidden" id="showTour" value="{{showTour}}">
      <input type="hidden" id="filter" value="{{user.filter}}">
      <input type="hidden" id="department" value="{{user.department}}">
      {% endif %}

    </li>
  </ul>
  <a style="float: left" href="www.bravi.com.br"><img class="img-responsive bravi-logo" src="/img/bravi.png" alt="" /></a>
  <ul class="nav navbar-nav">
  <li>
  <div style="float: right; margin-top:14px; margin-left:3px">
      <a href="/?lang=pt"><img src="/img/bra.png" alt="" /></a>
      <a href="/?lang=en"><img src="/img/uk.jpg" alt="" style="width:24px; margin-top: 0px" /></a>
    </div>
  </li>
  <li class="dropdown" style="float: left;margin-top: 10px;">
    <select id="systems" name="systems" required class="form-control">
      <option value="hours">{{ t("main-page.header.system-hours") }}</option>
      <option value="ebs">{{ t("main-page.header.system-ebs") }}</option>
    </select>
  </li>

  </ul>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">

      <div class="navbar-form" >
        <div class="form-group" style="display:inline;">
          <div id="nav-input-wonder" class="input-group left-inner-addon">
              <!--<a href="#">
              <i  class="glyphicon glyphicon-list-alt"></i>
              </a>-->
              <input type="text" id="question" id="question" name="question" class="form-control">
              <span class="input-group-btn">
              <button id="btn-ask" type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<label>{{ t("main-page.header.register") }}</label><button onclick="ask()" style="margin-left:10px" class="btn btn-info btn-ask">{{ t("main-page.header.go") }}</button>' data-original-title="" title="">
                {{ t('main-page.header.ask') }}
              </button>
              </span>
          </div>
        </div>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</div>