 <div id="main-nav" class="main-menu narrow-menu">
	<a href="/" id="logo" class="logo"></a>
	<ul id="nav-items" class="main-menu-nav">
		<li><a data-href="suggest" id="nav-search" class="spoticon-search-32 standard-menu-item"><span class="nav-text">Buscar</span></a></li>
		<li><a data-href="browse" id="nav-browse" class="spoticon-browse-32 standard-menu-item "><span class="nav-text">Minhas Pendentes</span></a></li>
		<li><a data-href="radio" id="nav-radio" class="spoticon-radio-32 standard-menu-item"><span class="nav-text">Rádio</span></a></li>
		<li><a data-href="collection" id="nav-collection" class="spoticon-collection-32 standard-menu-item"><span class="nav-text">Suas músicas</span></a></li>
		<li><a data-href="follow" id="nav-follow" class="spoticon-follow-32 standard-menu-item"><span class="nav-text">Seguir</span></a></li>
		<li class="item-profile etched-top has-extra-bottom-row">
			<a data-href="user" id="nav-profile" class="">
				<span class="nav-text">
					<div class="media simple user">
						<div class="media-image">
							<div class="media-placeholder">      <span class="icon"></span>    </div>
							<div class="media-image-internal"></div>
						</div>
					</div>
					<div class="name">wellgrisa</div>
				</span>
			</a>
		</li>
		<li class="messages-link"><a data-href="messages" id="nav-messages" class="spoticon-inbox-32">0</a></li>
		<li class="item-notifications"><a data-href="notification-center" id="nav-notifications" class="spoticon-notifications-32">0</a></li>
		<li class="settings-link clearfix"><a data-href="settings" id="nav-settings" class="spoticon-settings-16 active"><span class="nav-text"></span></a></li>
	</ul>
	<div id="core">
		<div id="bridge"></div>
		<object type="application/x-shockwave-flash" id="SPFBIn_3353_player" name="SPFBIn_3353_player" align="middle" data="https://play.spotify.edgekey.net/client/bff389a/flash/player.swf" width="1" height="1">
			<param name="quality" value="high">
			<param name="allowscriptaccess" value="always">
			<param name="wmode" value="window">
			<param name="bgcolor" value="#2c2c2d">
			<param name="flashvars" value="playerType=FLASH_RTMPS&amp;valid=0&amp;id=SPFBIn_3353_player&amp;length=0&amp;instanceId=SPFBIn_3353&amp;logging=0">
		</object>
		<div id="html5audio"></div>
	</div>
	<img id="tpx">
</div>