{% extends '../layouts/admin.html' %}
{% block content %}
<h1 class="page-header">{{title}}</h1>

<div class="row">
  <div class="col-md-2">
    <img src="{{ employee.picture }}" style="width: 100%" class="img-thumbnail"></div>
  <div class="col-md-10">
    <div class="meta">
      <h4>Name</h4>
      <p>{{employee.name}}</p>
      <h4>Message</h4>
      <p>{{employee.message}}</p>
    </div>
  </div>
</div>

<form role="form"  data-confirm="Are you sure you want to delete?" 
            action="/bs-admin/employees/{{employee.id}}" method="POST" class="panel-action">
  <input type="hidden" name="_method" value="DELETE">
  <a class="btn btn-default" href="/bs-admin/employees/{{employee.id}}/edit" >Edit</a>
  <button class="btn btn-danger" type="submit">Delete</button>
  <a class="btn" href="/bs-admin/employees">Back to list</a>
</form>