@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Oswald);

#dashboard-box{
	padding: 5px;	
}

#dashboard-box .status {
  font-family: 'Source Sans Pro', sans-serif;
}
#dashboard-box .status .panel-title {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  line-height: 45px;
  padding-top: 20px;
  letter-spacing: -0.8px;
}

#dashboard-box .panel-heading h4, .panel-heading h3, .panel-heading h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*panel colors*/
#dashboard-box .panel-default > .panel-heading {
  color: #555555;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
#dashboard-box .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #555555;
}
#dashboard-box .panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .panel-primary {
  border-color: #dddddd;
}
#dashboard-box .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2fa4e7;
  border-color: #dddddd;
}
#dashboard-box .panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-primary > .panel-heading .badge {
  color: #2fa4e7;
  background-color: #ffffff;
}
#dashboard-box .panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .panel-success {
  border-color: #dddddd;
}
#dashboard-box .panel-success > .panel-heading {
  color: #468847;
  background-color: #73a839;
  border-color: #dddddd;
}
#dashboard-box .panel-success > .panel-heading + #dashboard-box .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-success > .panel-heading .badge {
  color: #73a839;
  background-color: #468847;
}
#dashboard-box .panel-success > .panel-footer + #dashboard-box .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .panel-info {
  border-color: #dddddd;
}
#dashboard-box .panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #033c73;
  border-color: #dddddd;
}
#dashboard-box .panel-info > .panel-heading + #dashboard-box .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-info > .panel-heading .badge {
  color: #033c73;
  background-color: #3a87ad;
}
#dashboard-box .panel-info > .panel-footer + #dashboard-box .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .panel-warning {
  border-color: #dddddd;
}
#dashboard-box .panel-warning > .panel-heading {
  color: #c09853;
  background-color: #dd5600;
  border-color: #dddddd;
}
#dashboard-box .panel-warning > .panel-heading + #dashboard-box .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-warning > .panel-heading .badge {
  color: #dd5600;
  background-color: #c09853;
}
#dashboard-box .panel-warning > .panel-footer + #dashboard-box .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .panel-danger {
  border-color: #dddddd;
}
#dashboard-box .panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #c71c22;
  border-color: #dddddd;
}
#dashboard-box .panel-danger > .panel-heading + #dashboard-box .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
#dashboard-box .panel-danger > .panel-heading .badge {
  color: #c71c22;
  background-color: #b94a48;
}
#dashboard-box .panel-danger > .panel-footer + #dashboard-box .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
#dashboard-box .img-ranking {
  height: 50px;
}
#dashboard-box td.description{
  vertical-align: middle !important;
}
#dashboard-box td.description>span {
  margin-left: 5px;
}
#dashboard-box span.points {
  background-color: #37A7FD;
  border-radius: 15px;
  padding: 0 10px 0 10px;  
  color: white;
}