{% extends '../layouts/admin.html' %}

{% block content %}    

    <h1 class="page-header">Dashboard</h1>

    <div class="row">
        <div class="col-lg-9 col-sm-8">                    
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <h4>Overall data</h4>
                </div> 
                
                <div class="panel-body">
                    <div class="col-xs-12 col-md-4">            
                        <div class="panel status panel-warning">
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ data.outstandingQuestions }}</h1>
                            </div>
                            <div class="panel-body text-center">                        
                                Outstanding questions
                            </div>
                        </div>
                    </div>         
                    <div class="col-xs-12 col-md-4">           
                        <div class="panel status panel-success">
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ data.answeredQuestions }}</h1>
                            </div>
                            <div class="panel-body text-center">                        
                                Answered questions
                            </div>
                        </div>         
                    </div>
                    <div class="col-xs-12 col-md-4">          
                        <div class="panel status panel-info">
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ data.helpedPeople }}</h1>
                            </div>
                            <div class="panel-body text-center">                        
                                Helped and happy people :)
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-lg-3 col-sm-4">                    
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <h4>More asked tags</h4>
                    
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="icon-settings"></i></a>
                        <a href="index.html#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                        <a href="index.html#" class="btn-close"><i class="icon-close"></i></a>
                    </div>

                </div>
                
                <div class="panel-body" style="padding-bottom: 13px;">
                {% if data.tags.length == 0 %}                    
                    <h6>No items to show</h6>

                {% else %}
                {% for tag in data.tags %}
                    
                    <h5>#{{tag._id}} ({{tag.count}})</h5>

                {% endfor %}
                {% endif %}                    
                </div>
            </div>      
        </div>      
    </div>

{% endblock %}