<div class="modal fade" id="editAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit Answer</h4>
      </div>
      <div class="modal-body">

        <div class="panel-detailed-question">
          <div class="detailed-question textarea" data-ph="Your question goes here..."></div>
          <div class="panel-bottom-question">
            <button class="btn btn-info edit-question-btn-save" class="btn btn-info" type="submit">{{ t("main-page.header.save") }}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>