<ul class="nav navbar-nav side-nav">
  <li class="active">
  <a id="my-questions" href="index.html"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-questions')}}</a>
  </li>
  <li>
    <a id="my-answered-questions" href="index.html"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-answered-questions')}}</a>
  </li>
  <li>
    <a id="my-unread-questions"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-unread-questions')}}</a>
  </li>
  <li>
    <a id="outstanding-questions"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.outstanding-questions')}}</a>
  </li>
  <li>
    <a id="answered-outstanding-questions"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.answered-outstanding-questions')}}</a>
  </li>
  <li>
    <a id="all-questions"><i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.all-questions')}}</a>
  </li>
</ul>