<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav side-nav" id="main-menu">
  <li>
    <a href="#" id="outstanding-questions" data-gacategory="Menu" data-gaaction="Outstanding">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.outstanding-questions')}}
    </a>
  </li>
  <li>
    <a href="#" id="my-outstanding-questions" data-gacategory="Menu" data-gaaction="My-Outstanding">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-outstanding-questions')}}
    </a>
  </li>
  <li>
    <a href="#" id="answered-outstanding-questions" data-gacategory="Menu" data-gaaction="All-Answered">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.answered-outstanding-questions')}}
    </a>
  </li>
  <li>
    <a href="#" id="my-answered-questions" href="index.html" data-gacategory="Menu" data-gaaction="My-Answered">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-answered-questions')}}
    </a>
  </li>
  <li>
    <a href="#" id="all-questions" data-gacategory="Menu" data-gaaction="All-Questions">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.all-questions')}}
    </a>
  </li>
  <li>
    <a href="#" href="#" id="my-questions" href="index.html" data-gacategory="Menu" data-gaaction="All-My-Questions">
      <i class="fa fa-fw fa-dashboard"></i> {{t('main-page.sidebar.my-questions')}}
    </a>
  </li>
</ul>
</div>