<ul id="tlyPageGuide" data-tourtitle="{{t('main-page.tour.show-tips')}}">
    <li class="tlypageguide_left" data-tourtarget="#nav-input-wonder">
      {{ t('main-page.tour.step-one') }}
    </li>
    <li class="tlypageguide_left" data-tourtarget="#outstandingQuestions">
      {{ t('main-page.tour.step-two') }}
    </li>
    <li class="tlypageguide_left" data-tourtarget="#outstandingQuestionsByUser">
      {{ t('main-page.tour.step-three') }}
    </li>
    <li class="tlypageguide_left" data-tourtarget="#accordion">
      {{ t('main-page.tour.step-four') }}
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#questions-panel">
      {{ t('main-page.tour.step-five') }}
    </li>
</ul>