<ul id="tlyPageGuide" data-tourtitle="{{t('main-page.tour.show-tips')}}">
    <li class="tlypageguide_bottom" data-tourtarget="#systems-div">
      {{ t('main-page.tour.step-systems-select') }}
    </li>
    <li class="tlypageguide_left" data-tourtarget="#nav-input-wonder">
      {{ t('main-page.tour.step-ask') }}
    </li>
    <li class="tlypageguide_left" data-tourtarget="#accordion">
      {{ t('main-page.tour.step-questions') }}
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#questions-panel">
      {{ t('main-page.tour.step-answers') }}
    </li>
    <li class="tlypageguide_right" data-tourtarget="#main-menu">
      {{ t('main-page.tour.step-main-menu') }}
    </li>
</ul>