<ul id="tlyPageGuide" data-tourtitle="Mostrar dicas">
    <li class="tlypageguide_left" data-tourtarget="#nav-input-wonder">
      A busca de questões é realizada automaticamente ao digitar qualquer letra, o sistema irá realizar uma busca pela palavra/frase digitada.
      Para realizar uma pergunta basta apenas escrevê-la e em seguida clicar no botão ASK, que irá abrir uma janela com uma confirmação.
    </li>
    <li class="tlypageguide_left" data-tourtarget="#outstandingQuestions">
      Este ícone traz todas as questões pendentes no momento, mostrando um número referente à sua quantidade.
    </li>
    <li class="tlypageguide_left" data-tourtarget="#outstandingQuestionsByUser">
      Este ícone traz todas as questões do usuário logado. O número aqui mostrado é referente as questões feitas pelo usuário que possuem uma nova resposta.
    </li>
    <li class="tlypageguide_left" data-tourtarget="#accordion">
      Essa área é responsável por exibir as questões existentes, de acordo com a pesquisa realizada, ou filtro executado.
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#questions-panel">
      Essa área também é responsável por mostrar as respostas. Ao clicar em uma pergunta, o sistema exibe as respostas de modo mais detalhado. Juntamente com uma área para também registrar uma resposta.
    </li>
</ul>