{% extends 'layouts/default.html' %}

{% block content %}

<div class="parent">
  <div class="child">
    <div class="container">
    <div class="col-lg-12">
      <img class="img-responsive bravi-logo" src="/img/bravi.png" alt="" />
    </div>
    <br>
      <div class="col-lg-12">
        <input type="text" class="form-control input-lg" placeholder="Ask you question wisely here">
        <br>
        <div class="btn-group btn-group-lg">
          <a href="/process" class="btn btn-info">Search</a>
          <a href="/questions" class="btn btn-warning">Questions</a>
        </div>
    </div>
  </div>
</div>





{% endblock %}

{% block foot %}



{% endblock %}
