<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">


  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/custom-screens.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-overrides.css" rel="stylesheet" media="screen">
  <link href="/css/signin.css" rel="stylesheet" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>
{% include 'components/modals/signup.html' %}
  <div class="parent">
  <div class="child">
    <div class="container">
      <div class="col-lg-12">
        <img class="img-responsive bravi-logo" src="/img/bravi.png" alt="" />
        <!-- <a id="signin" href="/auth/google">
          <img src="/img/gmail.jpg" />
          Acessar com Google
        </a> -->
      </div>
      <br>
      <div class="col-lg-12">
        <form class="form-signin" role="form" action="/signin" method="post">
          <input type="username" name="username" class="form-control" placeholder="{{ t('main-page.sign-up.name') }}" required="" autofocus="">
          <input type="password" name="password" class="form-control" placeholder="{{ t('main-page.sign-up.password') }}" required="">
          <button class="btn btn-lg btn-primary" type="submit">{{ t('main-page.sign-up.sign-in') }}</button>
          <label style="color: white">{{ t('main-page.sign-up.or') }}</label> <a href="#" data-toggle="modal" data-target="#sign-up-modal" class="btn btn-lg btn-warning">{{ t('main-page.sign-up.sign-up') }}</a>
          <label style="color: white">{{ t('main-page.sign-up.or') }}</label> <a href="/auth/google" class="btn btn-lg btn-danger">Gmail!</a>
        </form>

    </div>
  </div>
</div>

  <!-- cdn scripts -->
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

  <script type="text/javascript" src="/lib/bootstrap.js"></script>
  <script type="text/javascript" src="/lib/jquery-easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/lib/jquery-easing-compatibility.1.2.pack.js"></script>
  <script type="text/javascript" src="/lib/jquery.validate.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="/lib/main.js"></script>

</body>
</html>
