{% extends 'layouts/default.html' %}

{% block content %}

{% include 'includes/head.html' %}

{% include 'includes/signup.html' %}

<br>
<div class="container">

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">Questions</div>
    <div class="panel-body">
      <div class="list-group">
        <a id="question-link" href="#" class="list-group-item ">
          <h4 class="list-group-item-heading">How to create a Reference Data?</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, porro, blanditiis, eaque, repellendus obcaecati expedita consequuntur tenetur molestiae itaque ut atque repellat dolores eveniet provident numquam doloremque maiores eos rem.</p>
        </a>
        <a href="#" class="list-group-item ">
          <h4 class="list-group-item-heading">How to merge SMC and Reference Data?</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, corporis accusantium blanditiis nostrum unde dolores totam iste cupiditate aliquid quibusdam magni voluptates. Ducimus, fugit, rem sequi corporis nesciunt quas minus.</p>
        </a>
        <a href="#" class="list-group-item ">
          <h4 class="list-group-item-heading">What the fuck is a Reference Data?</h4>
          <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur ipsum a eaque odit. Quae, commodi, optio quisquam praesentium illo natus dolor assumenda doloremque suscipit deserunt nostrum expedita perferendis enim?</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="answer-panel panel panel-default" style="display: none">
    <div class="panel-heading">Answer</div>
      <div class="panel-body">
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="col-lg-12">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Answers</div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">How to create a Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, porro, blanditiis, eaque, repellendus obcaecati expedita consequuntur tenetur molestiae itaque ut atque repellat dolores eveniet provident numquam doloremque maiores eos rem.</p>
            </a>
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">How to merge SMC and Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, corporis accusantium blanditiis nostrum unde dolores totam iste cupiditate aliquid quibusdam magni voluptates. Ducimus, fugit, rem sequi corporis nesciunt quas minus.</p>
            </a>
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">What the fuck is a Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur ipsum a eaque odit. Quae, commodi, optio quisquam praesentium illo natus dolor assumenda doloremque suscipit deserunt nostrum expedita perferendis enim?</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Questions</div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">How to create a Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, porro, blanditiis, eaque, repellendus obcaecati expedita consequuntur tenetur molestiae itaque ut atque repellat dolores eveniet provident numquam doloremque maiores eos rem.</p>
            </a>
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">How to merge SMC and Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, corporis accusantium blanditiis nostrum unde dolores totam iste cupiditate aliquid quibusdam magni voluptates. Ducimus, fugit, rem sequi corporis nesciunt quas minus.</p>
            </a>
            <a href="#" class="list-group-item ">
              <h4 class="list-group-item-heading">What the fuck is a Reference Data?</h4>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, tenetur ipsum a eaque odit. Quae, commodi, optio quisquam praesentium illo natus dolor assumenda doloremque suscipit deserunt nostrum expedita perferendis enim?</p>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
</div> -->

</div>





{% endblock %}

{% block foot %}



{% endblock %}
