{% extends 'layouts/default.html' %}

{% block content %}

    <div class="alert-panel"/>

    {% include 'includes/mobileheader.html' %}

    {% include 'components/modals/feedback.html' %}

    <!-- {% include 'components/modals/edit-question.html' %} -->

    <!--<div class="container">-->
    <div class="wrapper">
    <div class="container-fluid">
	  {% include 'components/panels/question-panel.html' %}
	  {% include 'components/panels/pagination.html' %}
    </div>
    </div>


    {% include 'components/panels/tour.html' %}

{% endblock %}

{% block foot %}



{% endblock %}