{% extends 'layouts/default.html' %}
{% block head %}
<script src="http://fb.me/react-with-addons-0.12.0.js"></script>
<script src="http://fb.me/JSXTransformer-0.12.0.js"></script>
<script type="text/javascript" src="/lib/react-infinite-scroll.min.js"></script>
<link href="/css/sidebar.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'includes/mobileheader.html' %}

{% include 'components/modals/edit-question.html' %}

{% include 'components/modals/edit-answer.html' %}

<div class="wrapper" style="padding-bottom: 70px;">
	<div class="container-fluid">				
		<div id="example">			
		</div>
	</div>	
</div>	

<script type="text/jsx" src="/lib/react/question.js"></script>
<script type="text/jsx" src="/lib/react/answer.js"></script>

{% endblock %}

{% block foot %}

{% endblock %}