<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>{% block title %}Bravi Software{% endblock %}</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/custom-screens.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-overrides.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-multiselect.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-tour.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/css/pageguide.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- header -->
  {% block header %}{% endblock %}

  <!-- content -->
  {% block content %}{% endblock %}

  <!-- cdn scripts -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <script type="text/javascript" src="/lib/bootstrap.js"></script>
  <script type="text/javascript" src="/lib/jquery-easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/lib/jquery-easing-compatibility.1.2.pack.js"></script>
  <script type="text/javascript" src="/lib/jquery.validate.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="/lib/main.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-wysiwyg.js"></script>
  <script type="text/javascript" src="/lib/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-tour.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="/lib/i18next-1.7.2.min.js"></script>
  <script type="text/javascript" src="/lib/tour.js"></script>
  <script type="text/javascript" src="/lib/pageguide.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <!-- footer -->
  {% block footer %}{% endblock %}
</body>
</html>
